.lmj-plant-item-cover {
	height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;
}

.lmj-plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}

.lmj-plant-imgtag {
  position: relative;
}

.lmj-plant-details {
  padding: 10px 20px;
}
.lmj-plant-details p {
  font-weight: bolder;
  margin-bottom: 5px;
  margin-top: 0;
}
